/* LINKLYST 1.02 | Created by Brad Linder | bradlinder.me | RAVEN I|I */
/* Change the root values below for the color scheme that you want */
:root {
	--primaryColor: #7CE5F2;
	--secondaryColor: #444851;
	--buttonColor: rgba(255, 255, 255, 0.2);
	--linkColor: #ecedef;
	--nameColor: #7CE5F2;
}

html {
	background: var(--secondaryColor);
	background: linear-gradient(rgba(39, 40, 45, 0.9), rgba(15, 15, 16, 0.9)), url("/bg.jpg") fixed center center;
	background-size: cover;
}

a.btn:hover {
	background-color: #ffffff78;

}

.btn {
	transition: .5s;
	color: var(--linkColor);
	background-color: var(--buttonColor);
	margin: 10px;
	font-size: 20px;
	font-weight: 600;
	backdrop-filter: blur(5px);
	border: 1px solid #b6b6b6;
	border-radius: 8px;
	font-family: inherit;
	padding: 6px;
	padding: 0.428571429rem;
	width: 100%;
	font-size: 30px;
	height: auto;
	margin: 0;
}

.btn-big {
	height: 75px;
	width: 90%;
	margin: 10px auto !important;
	font-size: 1.5rem !important;
	border: none;
	transition: .5s;
	cursor: pointer;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-big:hover {}

.separator {
	margin-top: 25px;
	margin-bottom: 25px;
	border: 0;
}

.separator--line {
	border: 0;
	border-bottom: 5px solid var(--buttonColor);
	width: 0;
	-webkit-animation: separator-width 1s ease-out forwards;
	animation: separator-width 1s ease-out forwards;
}

@-webkit-keyframes separator-width {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

@keyframes separator-width {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

.separator--dots {
	overflow: visible;
	border: 0;
	content: "";
	background-color: var(--buttonColor);
	display: block;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	position: relative;
}

.separator--dots:before {
	content: "";
	background-color: var(--buttonColor);
	display: block;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	position: absolute;
	left: -32px;
	-webkit-animation: dot-move-left 1s ease-out forwards;
	animation: dot-move-left 1s ease-out forwards;
}

.separator--dots:after {
	content: "";
	background-color: var(--buttonColor);
	display: block;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	position: absolute;
	left: 32px;
	-webkit-animation: dot-move-right 1s ease-out forwards;
	animation: dot-move-right 1s ease-out forwards;
}

@-webkit-keyframes dot-move-right {
	0% {
		left: 0;
	}

	100% {
		left: 32px;
	}
}

@keyframes dot-move-right {
	0% {
		left: 0;
	}

	100% {
		left: 32px;
	}
}

@-webkit-keyframes dot-move-left {
	0% {
		left: 0;
	}

	100% {
		left: -32px;
	}
}

@keyframes dot-move-left {
	0% {
		left: 0;
	}

	100% {
		left: -32px;
	}
}

.blurb {
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	padding: 20px;
	text-align: center;
	color: var(--linkColor);
	display: inline-block;
	background: var(--buttonColor);
	border-radius: 5px;
	max-width: 75%;
	backdrop-filter: blur(5px);
}

.container {
	margin: 0 auto;
	text-align: center;
}

img {
	margin: 2px;
}

a:hover {
	color: #66878c;
	text-decoration: none;
}

a {
	color: var(--primaryColor);
	text-decoration: none;
	transition: .5s;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Ubuntu, Cantarell, Oxygen, Roboto, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #b2bcc0;
	margin: 20px;
}

.header a {
	color: var(--nameColor);
	text-transform: uppercase;
	word-spacing: 10px;
}

.header a:hover {
	color: #b0b0b0;
}

.header_img img {
	max-width: 100px;
	border-radius: 50%;
	border: 3px solid var(--primaryColor);
}

.main {
	max-width: 1110px;
	text-align: center;
	margin: 0 auto;
	min-height: 50vh;
	margin-bottom: 50px;
}

.iconimg {
	width: 50px;
	padding: 10px;
}

.footer {
	font-weight: 300;
	text-align: center;
	width: 100%;
	margin: 0 0 20px 0;
	font-size: 12px;
	font-weight: 500;
	padding-top: 16vh;
}

.header {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.Button-icon {
	margin-right: 20px;
	font-size: 2.5rem;
	vertical-align: middle;
	color: var(--primaryColor);
}

.logo {
	font-size: 55px;
	font-weight: 500;
	margin-top: 20px;
	text-align: center;
	line-height: 55px;

}

.subtitle {
	margin: 10px;

	color: #757d8a;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 380px) {

	.btn-big {
		font-size: 1rem;
	}

	.Button-icon {
		font-size: 1.4rem !important;
	}

	body {
		font-size: 16px;
		margin: 1px;
	}
}

@media only screen and (max-width: 700px) {

	body {
		padding: 0;
	}

	.btn-big {
		font-size: 1.1rem !important;
	}

}

@media only screen and (min-width: 1000px) {
	.header {
		margin: 10vh auto 0px auto !important;
	}
}

@media (max-width: 600px) {
	.logo {
		text-align: center;
		font-size: 36px;
		margin-top: 5px;
	}

	.footer {
		font-size: 10px;

	}

	.subtitle {
		font-size: 12px;
	}

	.btn-big {
		width: 95%;
	}

}

@media (max-width: 400px) {
	.main {
		min-height: 345px;
	}
}